form{
    background-color: rgba(77, 77, 77, 0.877);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.form-label{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #eee;
}

.form-textarea{
    width: 98%;
    height: 200px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    background-color: rgba(216, 216, 216, 0.849);
    border-radius: 8px;
    padding: 5px;
    outline: 0;
    color:#333;
    resize: none;
}

.form-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.form-buttons button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.form-buttons button:hover{
    position: relative;
    top: -3px;
    box-shadow: 0 0 10px rgba(0, 247, 255, 0.808);
}

.button-submit{
    background-color: rgba(104, 170, 201, 0.925);
}

.button-cancel{
    background-color: rgba(175, 175, 175, 0.925);
}