.container{
  width: 100%;
  position: relative;
}

header{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: url('../../../public/assets/img/pexels-olya-kobruseva-7818101\ \(1\).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px rgb(168, 167, 167);
  margin-bottom: 10px;
}

.header-filtro{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.705);
}

.info-state-page{
  font-size: 1rem;
  text-align: center;
  color: #333;
  margin: 10px;
  margin-top: 20px;
}

@media (min-width: 850px) {
  .header-filtro{
    flex-direction: row;
  }
}